
    img{
width: 800px;
height: 500px;

       
        float: right;
    }
    body{
        background-color: #eeeef5;
        border: solid 4px rgb(0, 235, 196);
        padding: 30px;
        margin: 30px;
    }
   p{
    font-size: x-large;
   }
   

    